* {
    margin: 0;
    padding: 0;
    background: rgb(105, 105, 105);
}

#bmenu {
    position: absolute;
    width: 100%;
    height: 81px;
    background: linear-gradient(to left, #b72bd4, red);
}

@media (max-width: 768px) {
    #bmenu {
        width: 100%;
        height: 60px;
    }

}