* {
    margin: 0;
    padding: 0;
    background: #F7F3FF;
    font-family: arial;
}

h1 {
    background: none;
}

a {
    text-decoration: none;
    background: none;
    color: #b72bd4;
}

img {
    background: none;
}

html {
    width: 100%;
    height: 100%
}

#bmenu {
    z-index: 3;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background: linear-gradient(to left, #b72bd4, #772f87);
    transition: width 0.5s, height 0.5s;
}

#logo_grande {
    z-index: 4;
    position: absolute;
    height: 60%;
    background: none;
    left: 50px;
    bottom: 23%;
    transition: left 0.5s;
}

.btmenu {
    position: relative;
    margin-left: 25px;
    background: none;
    color: white;
    font-family: arial;
    text-decoration: none;
    left: 57%;
    top: 37%;
}

@media (max-width: 768px) {
    #bmenu {
        width: 100%;
        height: 60px;
    }

    #logo_grande {
        left: 20px;
    }
}

body {
    height: 1000px;
}

#container {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

#areafotos {
    padding-top: 50px;
    padding-bottom: 125px;
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: width 0.5s;
}

#areafotos h1 {
    display: inline-block;
    font-family: arial;
    background: none;
    word-wrap: break-word;
    font-size: 35px;
    transform: translate(-50%,0);
    position: relative;
    left: 50%;
    color: #ba8ee3;
    transition: font-size 0.5s;
}

.buttonfoto {
    position: relative;
    background-color: #6A0DAD;
    color: white;
    border: 0 solid #6A0DAD;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, width 0.3s, height 0.3s, top 0.5s;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 130px;
    height: 40px;
}

.buttonfoto:hover {
    background-color: #9B30FF;
}

.buttonfoto:focus {
    outline: none;
    box-shadow: none;
  }

@media (max-width: 768px) {
    #areafotos {
        width: 100%;
    }

    #areafotos h1 {
        font-size: 25px;
    }

    .buttonfoto {
        top: 130px;
    }
}

footer {
    left: 50%;
    top: 900px;
    position: absolute;
    background: none;
    width: 100%;
    height: 300px;
    transform: translate(-50%, -50%);
}


footer>h1 {
    color: #ba8ee3;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 90px;
    font-size: 40px;
    font-weight: bold;
}

footer>div {
    position: absolute;
    background: none;
    transform: translate(-50%, 0);
    height: 20px;
    left: 50%;
    top: 160px;
}

footer>div>a {
    position: relative;
    bottom: 14px;
    background: none;
    color: #b72bd4;
}

footer>div>a>img {
    position: relative;
    top: 10px;
}

footer>p {
    padding: 30px;
    transform: translate(-50%, -50%);
    background: none;
    font-size: 13px;
    position: relative;
    display: inline-block;
    left: 50%;
    top: 240px;
    text-align: center;
}

@media (max-width: 768px) {
    footer>h1 {
        font-size: 35px;
    }

    footer>div>a {
        font-size: 15px;
        bottom: 18px;
    }

    footer>div>a>img {
        width: 25px;
        top: 7px;
    }
}